# Welcome to Jekyll!
#
# This config file is meant for settings that affect your entire site, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# `jekyll serve`. If you change this file, please restart the server process.

# Theme Settings
#
# Review documentation to determine if you should use `theme` or `remote_theme`
# https://mmistakes.github.io/minimal-mistakes/docs/quick-start-guide/#installing-the-theme


# Site Settings
title: Loïck BOURDOIS
description: "Site internet de Loïck BOURDOIS"
minimal_mistakes_skin: "dark"
google_site_verification: "ouC89r8DsM44-CzfK9zKiulBYb7coucYBADYgNFnJpQ" 
twitter_username: BdsLoick
github_username: lbourdois
search: false



# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes
# Outputting
permalink: /:categories/:title/
paginate: 5 # amount of posts to show
paginate_path: /page:num/
timezone: # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

include:
  - _pages

baseurl: ""

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: False
      read_time: False
      comments: False
      share: False
      related: False
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: false

footer:
  links:
    - label: " Email"
      icon: "fas fa-fw fa-envelope-square"
      url: mailto:loick.bourdois@outlook.com
    - label: " Linkedin"
      icon: "fab fa-fw fa-linkedin"    
      url: "https://www.linkedin.com/in/lbourdois"
    - label: " Hugging Face"
      icon: "fa-brands fa-hugging-face"
      url: "https://huggingface.co/lbourdois"
    - label: " GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/lbourdois"
      
category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
